# Django
SECRET_KEY=

# Database (PostgreSQL)
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# External APIs
TMDB_API_KEY=
GOOGLE_BOOKS_API_KEY=

# AWS S3 (media storage)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
