{% extends "base.html" %}
{% load static %}
{% block css_files %} 
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/person.css' %}">

{% endblock %}
{% block title %} Yazar Sayfası {%endblock %}

{% block content %}
<div class="container-xxl py-5 px-5">
    <div class="card h-100">
      <div class="row g-0 align-items-stretch">
        <div class="col-md-4 d-flex flex-column">
          <div style="height: 500px; overflow: hidden;">
            <img src="{{ yazar.image.url }}" alt="Fotoğraf" class="w-100 h-100" style="object-fit: cover;">
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body h-100">
            <h4 class="card-title mb-4">{{ yazar.name }}</h4>
            <div class="row mb-3">
              <div class="col-12">
                <p>{{ yazar.description }}</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12">
                <p>Born: {{ yazar.birthdate }}</p>
              </div>
            </div>



            <div class="row">
              <div class="col-12">
                <hr>
                <div style="display: flex; gap: 10px; flex-wrap: wrap; justify-content: left;">
                  <h6>Works:</h6>
                  {% for kitap in kitaplar %}
                  <div style="text-align: center; max-width: 100px;">
                      <a href="{% url 'kitap' slug=kitap.slug %}" style="text-decoration: none; color: inherit;">
                          <img src="{{ kitap.image.url }}" alt="{{ kitap }}" 
                               style="width: 4.5rem; height: 4.5rem; border-radius: 50%; object-fit: cover; border: 2px solid #000000aa;">
                          <p style="font-size: 0.75rem; margin-top: 5px; ">{{ kitap }}</p>
                      </a>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>





          </div>
        </div>
      </div>
    </div>
  </div>
  

      
      
{% endblock %}