{% extends "base.html" %}
{% load static %}
{% block title %} Şifre Değiştir {% endblock %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/change.css' %}">

{% endblock %}
{% block content %}
<div class="password-change-page">
    <div class="password-change-container">
        <h2>Change Password</h2>
        <form method="post" class="password-change-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update Password</button>
        </form>
        {% if messages %}
        <div class="messages">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
